@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* universal selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto);
}

/*root*/
:root {
  --roboto: "Roboto", serif;
}

a{
  font-weight: 800;
}

p{
font-weight: 500;
}

h1{
  font-weight: 700;
}

body {
  font-family: var(--opensan);
}

button {
  font-weight: 500;
}

#hamburger {
  display: none;
}

/*style for hamburger*/
#hamburger .lines {
  height: 2.9px;
  width: 30px;
  font-weight: bolder;
  background-color: white;
  display: block;
  margin-top: 4px;
  border-radius: 50px;
}

/*header style*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 5%;
  background-color: black;
  color: white;
  position: sticky; /*main parrent*/
  top: 0;
  z-index: 10;
  font-size: 13px;
  font-weight: 500;
}

/*style for navlinks or header ul*/
header #navlinks {
  list-style-type: none;
  display: flex;
  column-gap: 50px;
}

#navlinks li a {
  text-decoration: none;
  color: white;
}

#logo-container h1{
  font-weight: 900;
  font-size: 23px;
}

/*search-container*/
#search-bar {
  display: flex;
  align-items: center;
  position: relative;
  right: 140px;
}

#search-bar input {
  padding: 8px 15px;
  border-radius: 50px;
  border: none;
  width: 160px;
  background-color: whitesmoke;
}

#search-bar i {
  position: absolute;
  right: 20px;
  color: #444;
}

#main-tools {
  display: flex;
  column-gap: 20px;
  align-items: center;
  position: absolute;
  right: 50px;
}

/*adjustment for down arrow*/
.fa-chevron-down {
  margin-left: 10px;
}

/*hero section*/
#hero-section {
  max-height: 100%;
  position: relative;
  background-color: whitesmoke;
}

#hero-section #hero-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  padding: 7% 10%;
}

/*hero-contents h1*/
#hero-contents h1 {
  font-size: 35px;
  line-height: 1.5;
  font-weight: 1000;
}

/*hero-contents p */
#hero-contents .hero-para {
  max-width: 48%;
  line-height: 1.5;
  font-size: 12px;
  color: #555;
}

/*hero-contents button*/
#hero-contents button {
  padding: 14px 18px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
}

#hero-contents button i {
  margin-left: 5px;
  color: white;
}

/*style for article container in hero section*/
#hero-section #article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 30px;
}

#hero-contents #article-container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
}

#article-container h2 {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 900;
}

#article-container p {
  font-size: 12px;
  color: #555;
}

/*hero section images*/

#hero-section figure img {
  height: 32rem;
  max-width: 100%;
  object-fit: cover;/
}

#hero-section figure {
  position: absolute;
  top: 0;
  right: 100px;
  max-width: 100%;
}

/*brands-section*/
#brands-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  row-gap: 30px;
  background: url(/images/retro-man-dressed-shirt-lies-floor-posing.png)
    center/cover;
  background-color: gainsboro;
  background-attachment: fixed;
  padding: 50px 0;
}

#brands-section #brands-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  color: white;
}

#brands-content h1 {
  font-size: 30px;
}

#brands-content p {
  font-size: 13px;
}

#brands-content button {
  padding: 14px 16px;
  border: none;
  background-color: white;
  color: black;
}

#brands-content button i {
  margin-left: 5px;
}

/*brands container logo img*/
#brands-container img {
  height: 100%;
  width: 130px;
  object-fit: contain;
}

#brands-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 60px;
  align-items: center;
}

/*fashion images*/
#fashion-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}

/*fashion-contents*/
#fashion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
}

#fashion-content h1 {
  font-size: 35px;
}

#fashion-content p {
  font-size: 13px;
  font-weight: 500;
  color: #555;
}

/*style for fashion images*/
#fashion-section #fashion-container img {
  height: 480px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
}

#fashion-section #fashion-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  column-gap: 50px;
}

#fashion-container img:hover {
  cursor: pointer;
}

/*casual top wear secction*/

#topwear-section {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  row-gap: 60px;
  padding: 0 10%;
}

#topwear-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}

#topwear-content p {
  font-size: 13px;
}

#topwear-content button {
  padding: 14px 16px;
  border: none;
}

/*top  wear img adustment*/
#topwear-section #topwear-container img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/*use grid for top wear container*/
#topwear-section #topwear-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: scroll;
  column-gap: 100px;
}

#topwear-container article {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#topwear-container article button {
  padding: 10px;
  border: none;
}

/*bottom wear*/

#bottomwear-section {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  row-gap: 60px;
  padding: 0 10%;
}

#bottomwear-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}

#bottomwear-content p {
  font-size: 13px;
}

#bottomwear-content button {
  padding: 14px 16px;
  border: none;
}

/*top  wear img adustment*/
#bottomwear-section #bottomwear-container img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/*use grid for top wear container*/
#bottomwear-section #bottomwear-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: scroll;
  column-gap: 100px;
}

#bottomwear-container article {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#bottomwear-container article button {
  padding: 10px;
  border: none;
}

/*footwear*/

#footwear-section {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  row-gap: 60px;
  padding: 0 10%;
}

#footwear-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}

#footwear-contents p {
  font-size: 13px;
}

#footwear-contents button {
  padding: 14px 16px;
  border: none;
}

/*top  wear img adustment*/
#footwear-section #footwear-container img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/*use grid for top wear container*/
#footwear-section #footwear-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: scroll;
  column-gap: 100px;
}

#footwear-container article {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#footwear-container article button {
  padding: 10px;
  border: none;
}

/*--Footer--*/

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: space-between;
  align-items: stretch;
  padding: 70px 5%;
  background-color: #111;
  color: white;
  position: relative;
  margin-top: 100px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  padding: 20px 0;
  font-size: 12px;
}

footer ul li a {
  text-decoration: none;
  color: gainsboro;
}

/*social-links*/

#social-links ul {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  column-gap: 20px;
  font-size: 25px;
}

#copyright {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  background-color: #222;
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px;
}

footer h3 {
  font-weight: 400;
}

.fa-facebook {
  color: dodgerblue;
}

.fa-instagram {
  color: crimson;
}

.fa-whatsapp {
  color: lime;
}

.fa-twitter {
  color: dodgerblue;
}


/*Resposnisve Design*/

@media screen and (max-width:576px) {
  
  header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100px;
  }

#hamburger{
display: block;
position: absolute;
top: 25px;
z-index: 1;
}

#main-tools{
position: absolute;
top: 35px;
font-size: 18px;
}

#logo-container{
position: absolute;
left: 35%;
top: 65px;
}

header #navlinks{
flex-direction: column;
height: 100vh;
width: 160px;
background-color: #222;
position: fixed;
left: -250px;
top: 0;
padding: 80px 30px;
row-gap: 30px;
z-index: -1;
transition: all 0.50s ease-out;
}


#search-bar{
display: none;
}
 
#hero-section #hero-contents{
display: flex;
flex-direction: column-reverse;
font-size: 13px;
}

#hero-section figure{
position: absolute;
top: 148px;
left: 0;
}

#hero-section #hero-contents p{
max-width: 90%;
}


  
#hero-section{
height: 103vh;
background-color: whitesmoke;
}

#hero-section #hero-contents h1{

  max-width: 30%;
  font-size: 40px;
  position: absolute;
  top: 270px;
  right: 80px; 
  z-index: 1;
  color: #444;
}



#brands-section{

  background-position: left;
}


#fashion-section #fashion-content h1{
  font-size: 30px;
  max-width: 100%;
  line-height: 1.5;
  font-weight: 900;
}

#fashion-section #fashion-container{
  grid-template-columns: repeat(1,1fr);
  row-gap: 50px;
}

#topwear-content{
  line-height: 1.5;
}

#topwear-content button{
  padding: 10px;
}


#topwear-section #topwear-content h1{
  font-weight: 900;
  font-size: 30px;
}



#bottomwear-section #bottomwear-content h1{
  font-weight: 900;
  font-size: 30px;
}

#bottomwear-content{
  line-height: 1.5;
}

#bottomwear-content button{
  padding: 10px;
}

#footwear-contents h1{
  font-weight: 900;
  font-size: 30px;
}

#footwear-contents{
  line-height: 1.6;
}

#footwear-contents button{
  padding: 10px;
}


#navlinks.active-sidebar{

  left: 0;

}





footer{

  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 30px;
}


}





