@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* universal selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  scroll-behavior: smooth;
}






button {
  font-weight: 500;
}

#hamburger {
  display: none;
}

/*style for hamburger*/
#hamburger .lines {
  height: 2.5px;
  width: 25px;
  font-weight: bolder;
  background-color: black;
  display: block;
  margin-top: 3px;
  border-radius: 50px;
}

/*header style*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 5%;
  background-color: white;
  color: black;
  position: sticky; /*main parrent*/
  top: 0;
  z-index: 10;
  font-size: 13px;
  font-weight: 500;
}

/*style for navlinks or header ul*/
header #navlinks {
  list-style-type: none;
  display: flex;
  column-gap: 50px;
}

#navlinks li a {
  text-decoration: none;
  color: black;
}

#logo-container {
  font-weight: bolder;
}

/*search-container*/
#search-bar {
  display: flex;
  align-items: center;
  position: relative;
  right: 100px;
}

#search-bar input {
  padding: 8px 15px;
  border-radius: 50px;
  border: none;
  background-color: whitesmoke;
}

#search-bar i {
  position: absolute;
  right: 20px;
  color: #444;
}

#main-tools {
  display: flex;
  column-gap: 20px;
  align-items: center;
  position: absolute;
  right: 50px;
}

/*adjustment for down arrow*/
.fa-chevron-down {
  margin-left: 10px;
}

/*hero section*/
#hero-section {
  max-height: 100%;
  position: relative;
  background-color: whitesmoke;
}

#hero-section #hero-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
  padding: 80px 10%;
}

/*hero-contents h1*/
#hero-contents h1 {
  font-size: 35px;
  line-height: 1.5;
  font-weight: bolder;
}

/*hero-contents p */
#hero-contents .hero-para {
  max-width: 54%;
  line-height: 1.5;
  font-size: 12px;
  color: #555;
}

/*hero-contents button*/
#hero-contents button {
  padding: 14px 18px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
}

#hero-contents button i {
  margin-left: 5px;
  color: white;
}

/*style for article container in hero section*/
#hero-section #article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 30px;
}

#hero-contents #article-container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}

#article-container h2 {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bolder;
}

#article-container p {
  font-size: 12px;
  color: #555;
}

/*hero section images*/

#hero-section figure img {
  height: 29.5rem;
  width: 100%;
  object-fit: contain;
  transition: all 1s ease;
}

#hero-section figure {
  position: absolute;
  top: 0;
  right: 100px;
}

/*brands-section*/
#brands-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  row-gap: 30px;
  background: url(retro-man-dressed-shirt-lies-floor-posing.png)
    center/cover;
  background-color: orange;
  background-attachment: fixed;
  padding: 50px 0;
}

#brands-section #brands-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  color: white;
}

#brands-content h1 {
  font-size: 30px;
}

#brands-content p {
  font-size: 13px;
}

#brands-content button {
  padding: 14px 16px;
  border: none;
  background-color: white;
  color: black;
}

#brands-content button i {
  margin-left: 5px;
}

/*brands container logo img*/
#brands-container img {
  height: 100%;
  width: 130px;
  object-fit: contain;
}

#brands-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 60px;
  align-items: center;
}

/*fashion images*/
#fashion-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}

/*fashion-contents*/
#fashion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
}

#fashion-content h1 {
  font-size: 35px;
}

#fashion-content p {
  font-size: 13px;
  font-weight: 500;
  color: #555;
}

/*style for fashion images*/
#fashion-section #fashion-container img {
  height: 450px;
  width: 320px;
  object-fit: cover;
}

#fashion-section #fashion-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  column-gap: 50px;
}

#fashion-container img:hover {
  cursor: pointer;
}

/*casual top wear secction*/

#topwear-section {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  row-gap: 60px;
  padding: 0 10%;
}

#topwear-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}

#topwear-content p {
  font-size: 13px;
}

#topwear-content button {
  padding: 14px 16px;
  border: none;
}

/*top  wear img adustment*/
#topwear-section #topwear-container img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/*use grid for top wear container*/
#topwear-section #topwear-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: scroll;
  column-gap: 50px;
}

#topwear-container article {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#topwear-container article button {
  padding: 10px;
  border: none;
}

/*bottom wear*/

#bottomwear-section {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  row-gap: 60px;
  padding: 0 10%;
}

#bottomwear-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}

#bottomwear-content p {
  font-size: 13px;
}

#bottomwear-content button {
  padding: 14px 16px;
  border: none;
}

/*top  wear img adustment*/
#bottomwear-section #bottomwear-container img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/*use grid for top wear container*/
#bottomwear-section #bottomwear-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: scroll;
  column-gap: 50px;
}

#bottomwear-container article {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#bottomwear-container article button {
  padding: 10px;
  border: none;
}

/*footwear*/

#footwear-section {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  row-gap: 60px;
  padding: 0 10%;
}

#footwear-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}

#footwear-contents p {
  font-size: 13px;
}

#footwear-contents button {
  padding: 14px 16px;
  border: none;
}

/*top  wear img adustment*/
#footwear-section #footwear-container img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/*use grid for top wear container*/
#footwear-section #footwear-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: scroll;
  column-gap: 50px;
}

#footwear-container article {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#footwear-container article button {
  padding: 10px;
  border: none;
}

/*--Footer--*/

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: space-between;
  align-items: stretch;
  padding: 70px 5%;
  background-color: #111;
  color: white;
  position: relative;
  margin-top: 100px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  padding: 20px 0;
  font-size: 12px;
}

footer ul li a {
  text-decoration: none;
  color: gainsboro;
}

/*social-links*/

#social-links ul {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  column-gap: 20px;
  font-size: 25px;
}

#copyright {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  background-color: #222;
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px;
}

footer h3 {
  font-weight: 400;
}

.fa-facebook {
  color: dodgerblue;
}

.fa-instagram {
  color: crimson;
}

.fa-whatsapp {
  color: lime;
}

.fa-twitter {
  color: dodgerblue;
}

/*media queries*/

@media screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 60px;
    max-width: 100%;
  }

  header #logo-container h1 {
    font-size: 10px;
  }

  #main-tools {
    position: absolute;
    top: 20px;
  }

  #logo-container {
    position: absolute;
    left: 120px;
  }

  header #navlinks {
    font-size: 13px;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }

  #search-bar input {
    display: none;
  }

  #search-bar {
    position: absolute;
    top: 26px;
    right: 130px;
  }

  #hamburger {
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 20000;
    display: block;
  }

  #navlinks li a {
    font-size: 12px;
  }

  /* Sidebar for mobile view */
  #navlinks {
    display: none;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 200px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 20;
    padding: 70px 20px;
    flex-direction: column;
    row-gap: 20px;
    transition: left 0.5s ease-in-out;
  }

  /*js function style*/

  #navlinks.active-sidebar {
    left: 0;
  }

  /*hamburger change to close ivon*/
  .active-icon .lines:nth-child(1) {
    transform: rotate(40deg) translateX(-1px);
  }

  .active-icon .lines:nth-child(2) {
    opacity: 0;
  }

  .active-icon .lines:nth-child(3) {
    transform: rotate(-40deg) translateY(-10px) translateX(4px);
  }

  #hero-section #hero-contents h1 {
    font-size: 25px;
  }

  #hero-section #hero-contents p {
    font-size: 10px;
  }

  #hero-section {
    width: 100%;
    background-color: whitesmoke;
  }

  #hero-section figure img {
    height: 36.3rem;
    width: 350px;
    object-fit: contain;
  }

  #hero-section figure {
    position: absolute;
    width: 250px;
    left: 95px;
  }

  #hero-contents button {
    padding: 10px;
  }

  #hero-section #article-container {
    display: flex;
    flex-direction: column;
  }

  #article-container article h2 {
    font-size: 18px;
  }

  #brands-section {
    background-position: left;
  }

  /*brand section*/
  #brands-section #brands-content h1 {
    font-size: 20px;
  }

  #brands-section #brands-content p {
    font-size: 12px;
    max-width: 70%;
    text-align: center;
    line-height: 1.5;
  }
  #brands-section #brands-content button {
    padding: 10px;
    font-size: 12px;
  }

  #brands-section #logos-container img {
    height: 100%;
    width: 70px;
    object-fit: contain;
  }

  /*fashion section*/

  #fashion-section {
    row-gap: 25px;
    width: 100%;
  }

  #fashion-section #fashion-content h1 {
    font-size: 17px;
  }

  #fashion-content p {
    font-size: 12px;
  }

  #fashion-section #fashion-container img {
    height: 100%;
    width: 230px;
    object-fit: contain;
  }

  #fashion-section #fashion-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }

  #topwear-section {
    padding: 0 20%;
    row-gap: 20px;
    width: 100%;
  }

  #topwear-section #topwear-content {
    align-items: center;
  }

  #topwear-section #topwear-content h1 {
    font-size: 18px;
  }

  #topwear-section #topwear-content p {
    font-size: 12px;
    max-width: 100%;

    text-align: center;
  }

  #topwear-content button {
    padding: 10px;
    font-size: 10px;
  }

  #topwear-section #topwear-container {
    column-gap: 100px;
  }

  #topwear-section #topwear-container article img {
    height: 300px;
    width: 250px;
    object-fit: cover;
  }

  #topwear-section #topwear-container article button {
    padding: 10px;
    font-size: 10px;
  }

  /*bottom wear*/

  #bottomwear-section {
    padding: 0 20%;
    row-gap: 20px;
    width: 100%;
  }

  #bottomwear-section #bottomwear-content {
    align-items: center;
  }

  #bottomwear-section #bottomwear-content h1 {
    font-size: 18px;
  }

  #bottomwear-section #bottomwear-content p {
    font-size: 12px;
    max-width: 100%;
    text-align: center;
  }

  #bottomwear-content button {
    padding: 10px;
    font-size: 10px;
  }

  #bottomwear-section #bottomwear-container {
    column-gap: 100px;
  }

  #bottomwear-section #bottomwear-container article img {
    height: 300px;
    width: 250px;
    object-fit: cover;
  }

  #bottomwear-section #bottomwear-container article button {
    padding: 10px;
    font-size: 10px;
  }

  /*footwear*/

  #footwear-section {
    padding: 0 20%;
    row-gap: 20px;
  }

  #footwear-section #footwear-content {
    align-items: center;
  }

  #footwear-section #footwear-content h1 {
    font-size: 18px;
  }

  #footwear-section #footwear-content p {
    font-size: 12px;
    max-width: 100%;
    text-align: center;
  }

  #footwear-content button {
    padding: 10px;
    font-size: 10px;
  }

  #footwear-section #footwear-container {
    column-gap: 100px;
  }

  #footwear-section #footwear-container article img {
    height: 300px;
    width: 250px;
    object-fit: cover;
  }

  #footwear-section #footwear-container article button {
    padding: 10px;
    font-size: 10px;
  }

  footer {
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
